*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 100%;
    margin: 0 auto;
    min-height: 1180px;
    background-color: rgb(253, 251, 223);
  }
  .headerleft{
    width: 85%;
    float: left;
    height: 30px;
    background-color: rgb(253, 61, 61);
  }
  .headerleft>a{
    text-decoration: none;
    color: cornsilk;
    
  }
  .headerright{
    width: 15%;
    float: left;
    height: 30px;
    background-color: rgb(253, 61, 61);
  }
  .headerright>a{
    color: cornsilk;
    text-decoration: none;
  }
  nav{
    width: 100%;
    height: 100px;
    background-color: white;
  }
  
  .anhtrangchu>img{
    width: 50%;
    height: 400px;
    float: center;
    margin-left: 290px;
    padding: 50px;
    
  }
  .anhtrangchu h2{
    text-align: center;
    color: rgb(64, 64, 136);

  }
  .anhtrangchu  p{
    text-align: center;
    

  }
  button {
    background-color: #7066c9; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
  }
  .button{
    text-align: center;
    padding-top: 20px;
  }
  
  
  .hmenu{
    list-style: none;
    
  }
  .hmenu>li{
    display: inline-block;
   margin-top: 10px;
    position: relative;
    
  }
  .hmenu>li>a{
    text-decoration: none;
    font-size: 12pt;
    padding: 20px;
    
    
    
  }
  .hmenu>li:hover .smenu{
    display: block;
  }
  .smenu{
    
    list-style: none;
    position: absolute;
    top: 30px;
    left: -10px;
    width: 200px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    background-color: darkseagreen;
    display: none;
    
  }
  .smenu>li{
    display: block;
    height: 10px;
    padding: 10px;
    

  }
  .smenu>li>a{
    text-decoration: none;
    color: #666;
    
  }
  .smenu>li:hover a{
    display: block;
    height: 30px;
    background-color: rgb(167, 167, 102);
    
  }
  .logo{
    float: right;
  }
  .hethong{
    width: 20%;
    height: 100px;
    float: left; 
    border-radius: 10px;
    padding: 5px 10px;
    text-align: justify; 
}
.hotro{
width: 20%;
height: 200px;
padding: 5px 10px;
text-align: justify; 
}    

.footer{
  width: 100%;
  height: 210px;
  justify-content: space-around;
  display: flex;
  margin-top: 0px;
  background-color: blanchedalmond;
  
}
.hethong>p{
    padding: 10px;
    float: left;
   padding-top: 10px;
   
    
}
.hoidap>p{
    padding: 10px;
    float: left;
    padding-top: 5px;
}
.huongvi{
  padding: 5px;
  float: left;
  padding-top: 5px;
}

h1{
    font-size: 40px;
    padding: 20px;
}
h3{
    font-weight: 100;
    padding: 20px;
}
h2{
  color: rgb(147, 147, 194);
  font-size: 30px;
  text-align: center;
}
hr{
  margin-left: 430px;
  margin-top: 10px;
  width: 400px;
  height: 3px;
  background-color: rgb(150, 173, 216);
  
}
.iconcuoi{
    float: left;
    padding: 0px 10px;
}

.doitac{
  text-align: center;
  margin-top: 30px;
  

}
.doitac>a{
  text-decoration: none;
  font-weight: bold;
  font-size: 35px;
  color: rgb(228, 21, 21);
  
 
}
.left{
  width: 35%; 
  float: left;
  min-height: 700px;
  margin-top: 30px;
  
}
.left img{
  padding-top: 30px;
  padding-left: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}
.noidung{
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 100px;
  text-align: justify;
  color: rgb(53, 69, 156);
  
}
.right{
  width: 60%;
  float: right;
  min-height: 700px;
  margin-top: 55px;

}
td>img{
  width: 200px;
  margin-right:5px;
  margin-bottom: 10px;
}
td{
  text-align: justify;
  font-size: 19px;
  color: rgb(53, 69, 156);
  padding-right: 20px;
  
}
.h{
  text-align: justify;
}




